---
import Layout from "../../layouts/Layout.astro";

const post = (await Astro.glob("./blog/*.{md, mdx}")).sort(
  (a, b) => 
    new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
);

---


<Layout title="Blogs">
  <h1>Blogs</h1>
  <ul>
    {post.map((post) => (
      <li>
       <time 
      </li>
    ))}
  </ul>
</Layout>