---
import Layout from "../../layouts/Layout.astro";
import Title11 from "../../components/Title11.astro";
---

<Layout title="La Esmeralda Reserva Natural | Voluntariado">
  <div
    class="bg-[url('/vinculate/voluntario.png')] bg-cover bg-center bg-no-repeat"
  >
    <div class="container m-auto">
      <Title11 text1="¿Que es ser" text2="voluntario?" />
    </div>
  </div>
</Layout>
