---
import Layout from "../../layouts/Layout.astro";
import Title11 from "../../components/Title11.astro";
---

<Layout title="La Esmeralda Reserva Natural | Voluntariado">
  <div
    class="bg-[url('/vinculate/voluntario.png')] bg-cover bg-center bg-no-repeat"
  >
    <div class="container m-auto">
      <Title11 text1="¿Que es ser" text2="voluntario?" />
    </div>
  </div>
  <div>
    <main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white">
      <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
        <article
          class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue"
        >
          <header class="mb-4 lg:mb-6 not-format">
            <address class="flex items-center mb-6 not-italic">
              <div class="inline-flex items-center mr-3 text-sm text-gray-900">
                <img
                  class="mr-4 w-16 h-16 rounded-full"
                  src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                  alt="Jese Leos"
                />
                <div>
                  <a
                    href="#"
                    rel="author"
                    class="text-xl font-bold text-gray-900">Jese Leos</a
                  >
                  <p class="text-base font-light text-gray-500">
                    Graphic Designer, educator & CEO Flowbite
                  </p>
                  <p class="text-base font-light text-gray-500">
                    <time
                      pubdate
                      datetime="2022-02-08"
                      title="February 8th, 2022">Feb. 8, 2022</time
                    >
                  </p>
                </div>
              </div>
            </address>
            <h1
              class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl"
            >
              Best practices for successful prototypes
            </h1>
          </header>
          <p class="lead">
            Flowbite is an open-source library of UI components built with the
            utility-first classes from Tailwind CSS. It also includes
            interactive elements such as dropdowns, modals, datepickers.
          </p>
          <p>
            Before going digital, you might benefit from scribbling down some
            ideas in a sketchbook. This way, you can think things through before
            committing to an actual design project.
          </p>
          <p>
            But then I found a <a href="https://flowbite.com"
              >component library based on Tailwind CSS called Flowbite</a
            >. It comes with the most commonly used UI components, such as
            buttons, navigation bars, cards, form elements, and more which are
            conveniently built with the utility classes from Tailwind CSS.
          </p>
          <figure>
            <img
              src="https://flowbite.s3.amazonaws.com/typography-plugin/typography-image-1.png"
              alt=""
            />
            <figcaption>Digital art by Anonymous</figcaption>
          </figure>
          <h2>Getting started with Flowbite</h2>
          <p>
            First of all you need to understand how Flowbite works. This library
            is not another framework. Rather, it is a set of components based on
            Tailwind CSS that you can just copy-paste from the documentation.
          </p>
          <p>
            It also includes a JavaScript file that enables interactive
            components, such as modals, dropdowns, and datepickers which you can
            optionally include into your project via CDN or NPM.
          </p>
          <p>
            You can check out the <a
              href="https://flowbite.com/docs/getting-started/quickstart/"
              >quickstart guide</a
            > to explore the elements by including the CDN files into your project.
            But if you want to build a project with Flowbite I recommend you to follow
            the build tools steps so that you can purge and minify the generated
            CSS.
          </p>
          <p>
            You'll also receive a lot of useful application UI, marketing UI,
            and e-commerce pages that can help you get started with your
            projects even faster. You can check out this <a
              href="https://flowbite.com/docs/components/tables/"
              >comparison table</a
            > to better understand the differences between the open-source and pro
            version of Flowbite.
          </p>
          <h2>When does design come in handy?</h2>
          <p>
            While it might seem like extra work at a first glance, here are some
            key moments in which prototyping will come in handy:
          </p>
          <ol>
            <li>
              <strong>Usability testing</strong>. Does your user know how to
              exit out of screens? Can they follow your intended user journey
              and buy something from the site you’ve designed? By running a
              usability test, you’ll be able to see how users will interact with
              your design once it’s live;
            </li>
            <li>
              <strong>Involving stakeholders</strong>. Need to check if your
              GDPR consent boxes are displaying properly? Pass your prototype to
              your data protection team and they can test it for real;
            </li>
          </ol>
          <h3>Laying the groundwork for best design</h3>
          <p>
            Before going digital, you might benefit from scribbling down some
            ideas in a sketchbook. This way, you can think things through before
            committing to an actual design project.
          </p>
          <p>
            Let's start by including the CSS file inside the <code>head</code> tag
            of your HTML.
          </p>
          <h3>Understanding typography</h3>
          <h4>Type properties</h4>
          <p>
            A typeface is a collection of letters. While each letter is unique,
            certain shapes are shared across letters. A typeface represents
            shared patterns across a collection of letters.
          </p>
          <h4>Baseline</h4>
          <p>
            A typeface is a collection of letters. While each letter is unique,
            certain shapes are shared across letters. A typeface represents
            shared patterns across a collection of letters.
          </p>
          <h4>Measurement from the baseline</h4>
          <p>
            A typeface is a collection of letters. While each letter is unique,
            certain shapes are shared across letters. A typeface represents
            shared patterns across a collection of letters.
          </p>
          <h3>Type classification</h3>
          <h4>Serif</h4>
          <p>
            A serif is a small shape or projection that appears at the beginning
            or end of a stroke on a letter. Typefaces with serifs are called
            serif typefaces. Serif fonts are classified as one of the following:
          </p>
          <h4>Old-Style serifs</h4>
          <ul>
            <li>Low contrast between thick and thin strokes</li>
            <li>Diagonal stress in the strokes</li>
            <li>Slanted serifs on lower-case ascenders</li>
          </ul><img
            src="https://flowbite.s3.amazonaws.com/typography-plugin/typography-image-2.png"
            alt=""
          />
          <ol>
            <li>Low contrast between thick and thin strokes</li>
            <li>Diagonal stress in the strokes</li>
            <li>Slanted serifs on lower-case ascenders</li>
          </ol>
          <h3>Laying the best for successful prototyping</h3>
          <p>
            A serif is a small shape or projection that appears at the
            beginning:
          </p>
          <blockquote>
            <p>
              Flowbite is just awesome. It contains tons of predesigned
              components and pages starting from login screen to complex
              dashboard. Perfect choice for your next SaaS application.
            </p>
          </blockquote>

          <h4>Table example</h4>
          <p>
            A serif is a small shape or projection that appears at the beginning
            or end of a stroke on a letter.
          </p>

          <h3>Best practices for setting up your prototype</h3>
          <p>
            <strong>Low fidelity or high fidelity?</strong> Fidelity refers to how
            close a prototype will be to the real deal. If you’re simply preparing
            a quick visual aid for a presentation, a low-fidelity prototype — like
            a wireframe with placeholder images and some basic text — would be more
            than enough. But if you’re going for more intricate usability testing,
            a high-fidelity prototype — with on-brand colors, fonts and imagery —
            could help get more pointed results.
          </p>
          <p>
            <strong>Consider your user</strong>. To create an intuitive user
            flow, try to think as your user would when interacting with your
            product. While you can fine-tune this during beta testing,
            considering your user’s needs and habits early on will save you time
            by setting you on the right path.
          </p>
          <p>
            <strong>Start from the inside out</strong>. A nice way to both
            organize your tasks and create more user-friendly prototypes is by
            building your prototypes ‘inside out’. Start by focusing on what
            will be important to your user, like a Buy now button or an image
            gallery, and list each element by order of priority. This way,
            you’ll be able to create a prototype that puts your users’ needs at
            the heart of your design.
          </p>
          <p>
            And there you have it! Everything you need to design and share
            prototypes — right in Flowbite Figma.
          </p>
          <!-- Modal toggle -->
          <button
            data-modal-target="defaultModal"
            data-modal-toggle="defaultModal"
            class="inline-flex items-center text-white bg-lime-500 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:ring-primary-900"
            type="button"
          >
            Vincúlate como voluntario
            <svg
              class="ml-2 -mr-1 w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path></svg
            >
          </button>

          <!-- Main modal -->
          <div
            id="defaultModal"
            tabindex="-1"
            aria-hidden="true"
            class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
          >
            <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
              <!-- Modal content -->
              <div
                class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
              >
                <!-- Modal header -->
                <div
                  class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
                >
                  <h3
                    class="text-lg font-semibold text-gray-900 dark:text-white"
                  >
                    Formulario de voluntario
                  </h3>
                  <button
                    type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="defaultModal"
                  >
                    <svg
                      aria-hidden="true"
                      class="w-5 h-5"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                      ><path
                        fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path></svg
                    >
                    <span class="sr-only">Close modal</span>
                  </button>
                </div>
                <!-- Modal body -->
                <form action="#">
                  <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    <div>
                      <label
                        for="name"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Nombre*</label
                      >
                      <input
                        type="text"
                        name="name"
                        id="name"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Esmeralda Becerra"
                      />
                    </div>
                    <div>
                      <label
                        for="brand"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Correo*</label
                      >
                      <input
                        type="text"
                        name="brand"
                        id="brand"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="esmeralda@correo.com.co"
                      />
                    </div>
                    <div>
                      <label
                        for="price"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Fecha inicio del voluntariado</label
                      >
                      <input
                        type="date"
                        name="price"
                        id="price"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      />
                    </div>
                    <div>
                      <label
                        for="price"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Fecha fin del voluntariado</label
                      >
                      <input
                        type="date"
                        name="price"
                        id="price"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      />
                    </div>
                    <div class="sm:col-span-2">
                      <label
                        for="description"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >¿Tienes algún comentario adicional?</label
                      >
                      <textarea
                        id="description"
                        rows="5"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Es un gusto unirme a su equipo de voluntarios"
                      ></textarea>
                    </div>
                  </div>
                  <div class="flex items-center space-x-4">
                    <button
                      type="submit"
                      class="flex aligne-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 border border-lime-500"
                    >
                      reservar mi voluntariado
                      <img class="w-10 ml-2" src="/payu.png" alt="" />
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </article>
      </div>
    </main>
  </div>
</Layout>
