---
import Layout from "../../layouts/Layout.astro";
import Title11 from "../../components/Title11.astro";
import Title2 from "../../components/Title2.astro";
---

<Layout title="La Esmeralda Reserva Natural | Voluntariado">
  <div
    class="bg-[url('/vinculate/voluntario.png')] bg-cover bg-center bg-no-repeat"
  >
    <div class="container m-auto">
      <Title11 text1="¿Que es ser" text2="voluntario?" />
    </div>
  </div>
  <div class="container m-auto">
    <div class="grid grid-flow-col gap-4">
      <div>
        <img src="https://educowebmedia.blob.core.windows.net/educowebmedia/educospain/media/images/blog/manos-voluntariado.jpg" alt="">
      </div>
      <div>
        <Title2 text1="¿Quien es" text2="un voluntario?" />
        <p>El voluntario de una reserva natural es una persona apasionada por la naturaleza, que desea proteger la biodiversidad y los ecosistemas en cualquier lugar en el que se encuentre. Con habilidades en biología, ecología, y conservación, se adentra en los ambientes naturales para realizar tareas como el monitoreo de la fauna y la flora, la restauración de hábitats, la educación ambiental, entre otras. Con su amor y respeto por el medio ambiente, el voluntario aporta sus saberes y habilidades para trabajar en equipo y contribuir a construir un mundo más sostenible. Así, cada persona puede contribuir a proteger la naturaleza y a preservar la vida silvestre en todo lugar.</p>
      </div>
    </div>
    <div class="grid grid-flow-col gap-4">
      
      <div>
        <Title2 text1="Tareas" text2="un voluntario?" />
        <p>¡Prepárate para la aventura! Para aportar como voluntario en una reserva natural, necesitas tener una gran pasión por la naturaleza y estar dispuesto a enfrentar los desafíos y peligros que se presenten. Necesitas habilidades en biología, ecología, y conservación, además de estar dispuesto a trabajar en equipo y compartir tus saberes con otros voluntarios. Ya sea monitoreando la fauna y flora, restaurando hábitats, educando a la gente sobre el medio ambiente, o cualquier otra tarea, tu contribución será vital para proteger la biodiversidad y preservar los ecosistemas. Así que, ¡ponte tu mochila, prepara tu kit de supervivencia, y únete a la aventura de la conservación natural!</p>
      </div>
      <div>
        <img src="https://img.hacerfamilia.es/fotoweb/fotonoticia_20160321101923_600.jpg" alt="">
      </div>
    </div>
    <div class="">
      
      <div>
        <Title2 text1="Titulo de" text2="ejemplo" />
        <h2 class="text-bold"><span class="text-lime-500">Módulo 1:</span><span> Transformación del pensa- miento empresarial.</span></h2>
        <p>¡Prepárate para la aventura! Para aportar como voluntario en una reserva natural, necesitas tener una gran pasión por la naturaleza y estar dispuesto a enfrentar los desafíos y peligros que se presenten. Necesitas habilidades en biología, ecología, y conservación, además de estar dispuesto a trabajar en equipo y compartir tus saberes con otros voluntarios. Ya sea monitoreando la fauna y flora, restaurando hábitats, educando a la gente sobre el medio ambiente, o cualquier otra tarea, tu contribución será vital para proteger la biodiversidad y preservar los ecosistemas. Así que, ¡ponte tu mochila, prepara tu kit de supervivencia, y únete a la aventura de la conservación natural!</p>
      </div>
      <div>
        <img src="https://img.hacerfamilia.es/fotoweb/fotonoticia_20160321101923_600.jpg" alt="">
      </div>
    </div>
  </div>
</Layout>
