---
import Layout from "../layouts/Layout.astro";
import Title11 from "../components/Title11.astro";
import Title2 from "../components/Title2.astro";
import Testimonial from "../components/Testimonial.astro";
import CardServiciosL from "../components/CardServiciosL.astro";
---

<Layout title="La Esmeralda Reserva Natural | Contactanos">
  <div
    class="bg-[url('/apoyanos/fondo.avif')] bg-cover bg-center bg-no-repeat p-5 md:p-10 lg:p-20"
  >
    <div class="container m-auto">
      <Title11 text1="¿Te gustaría" text2="apoyarnos?" />
    </div>
  </div>
  <div class="px-4 container m-auto">
    
    <div>
      <div class="mb-10">
        <Title2 
          text2="Voluntariado"
        />
      </div>
      <CardServiciosL
      img="/apoyanos/voluntariado.avif"
      text1="El objetivo del programa de voluntariado es la realización de acciones de conservación y preservación del medio ambiente, esta dirigido a mayores de edad dispuestos a donar tiempo de trabajo a la madre tierra interactuando con labores diarias, propias de la reserva. El voluntariado tiene dos categorías:"
      text2="1. Aprendices: Personas que no han realizado actividades ambientales ni agropecuarias."
      text3="2. Expertos: personas que acreditan experiencia en algún área ambiental o agropecuaria."
      text4="Para las dos modalidades se requiere diligenciar el formulario. Aplican condiciones y restricciones."
      cta="!Quiero ser voluntario!"
      />
    </div>
  </div>
</Layout>
