---
import Layout from "../layouts/Layout.astro";
import Title11 from "../components/Title11.astro";
import BtnWapp from "../components/BtnWapp.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="La Esmeralda Reserva Natural | Contactanos">
  <div
    class="bg-[url('/contactenos/contactenos.avif')] bg-cover bg-center bg-no-repeat"
  >
    <div class="container m-auto">
      <Title11 text1="¿Quieres comunicarte" text2="con nosotros?" />
    </div>
  </div>
  <div class="px-4 container m-auto">
    <div class="md:grid md:grid-cols-2">
      <div>
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md text-center">
          <h2
            class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900"
          >
            Escribenos por whatsapp
          </h2>
          <BtnWapp
            cta="¡Hola, quisiera comunicarme con ustedes!"
          />
        </div>
      </div>
      <div>
        <ContactForm />
      </div>
    </div>
  </div>
</Layout>
