---
import Layout from "../layouts/Layout.astro";
import Title11 from "../components/Title11.astro";
import GaleriaL from "../components/GaleriaL.astro";
---

<Layout title="La Esmeralda Reserva Natural | Galaeria">
  <div
    class="mb-7 bg-[url('/galeria/banner_galeria.avif')] bg-cover bg-center bg-no-repeat"
  >
    <div class="container m-auto">
      <Title11 text1="Galería de" text2="Fotos" />
    </div>
  </div>
  <div class="px-2 md:px-6 md:space-y-9">
    <GaleriaL
      client:load
      img1="/galeria/imgs/(1).JPG"
      img2="/galeria/imgs/(2).JPG"
      img3="/galeria/imgs/(3).JPG"
      img4="/galeria/imgs/(4).JPG"
      img5="/galeria/imgs/(5).JPG"
      img6="/galeria/imgs/(6).JPG"
      img7="/galeria/imgs/(7).JPG"
      img8="/galeria/imgs/(8).JPG"
      img9="/galeria/imgs/(9).JPG"
    />
    <!-- <GaleriaL
      client:load
      img1="/galeria/imgs/(10).JPG"
      img2="/galeria/imgs/(11).JPG"
      img3="/galeria/imgs/(12).JPG"
      img4="/galeria/imgs/(13).JPG"
      img5="/galeria/imgs/(14).JPG"
      img6="/galeria/imgs/(15).JPG"
      img7="/galeria/imgs/(16).JPG"
      img8="/galeria/imgs/(17).JPG"
      img9="/galeria/imgs/(18).JPG"
    /> -->
  </div>
</Layout>
