---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardOpinion from "../components/CardOpinion.astro";
---

<Layout title="La Esmeralda Reserva Natural">
  <div class="bg-[url('../../public/Fondo5.png')] bg-cover bg-bottom bg-fixed">
    <div class="container m-auto h-screen">
      <h1 class="font-bold text-4xl md:text-6xl leading-tight m-3">
        Reserva Natural <br />
        <span class="text-lime-500 text-5xl md:text-9xl">La Esmeralda</span>
      </h1>
      <p class="text-lg font-bold tracking-widest text-gray-700 m-3">
        Somos un oasis de naturaleza para la fauna🐍 y la flora🌺. Estamos en
        Doima, municipio de Piedras – Tolima, ubicados a la rivera del rio Opia.
        HOGAR LEGENDARIO DE LAS OSTRAS DE AGUA DULCE.
        <button
          class="px-3 py-1 text-lime-500 rounded-2xl hover:bg-lime-500 hover:text-white transition-all ease-in duration-75 hover:shadow-md"
        >
          ¡ESTAS INVITADO!
        </button>
      </p>
    </div>
    <div class="container m-auto">
      <h2 class="font-bold text-5xl leading-tight m-3">
        Nuestra <span class="text-lime-500">reserva</span>
      </h2>
      <div
        class="m-3 pb-20 lg:mx-auto space-y-16 sm:grid sm:grid-cols-2 sm:gap-16 sm:space-y-0 lg:grid-cols-3 lg:max-w-5xl"
      >
        <div class="text-center">
          <Card
            icon="../../public/acount.svg"
            icon_name="nosotros"
            title="Nosotros"
            text="Contamos con un gran equipo de colaboradores y patrocinadores comprometidos con la reserva en la conservación del medio ambiente."
            link="/nosotros"
            nameLink="Conoce más"
          />
        </div>
        <div class="text-center">
          <Card
            icon="../../public/calendar.svg"
            icon_name="calendar"
            title="Agenda tu visita"
            text="Puedes visitar y vincularte a la reserva, solo debes enviar tu solicitud diligenciando el formulario de contacto."
            link="/nosotros"
            nameLink="Conoce más"
          />
        </div>
        <div class="text-center">
          <Card
            icon="../../public/ecosistema.svg"
            icon_name="ecosistema"
            title="Nuestros ecosistemas"
            text="Nuestra reserva cuenta con un ecosistema de bosque seco tropical, corredor biológico de la fauna por estar al margen del rio Opia."
            link="/nosotros"
            nameLink="Conoce más"
          />
        </div>
        <div class="text-center">
          <Card
            icon="../../public/apoyanos.svg"
            icon_name="apoyanos"
            title="Apoyo a la reserva"
            text="Te invitamos a proteger, cuidar y preservar, está en nuestras manos continuar el legado del patrimonio natural. Únete a este propósito diligenciando el formulario de la pestaña."
            link="/nosotros"
            nameLink="Conoce más"
          />
        </div>
        <div class="text-center">
          <Card
            icon="../../public/galeria.svg"
            icon_name="galeria"
            title="Galeria de fotos"
            text="Encontraras fauna y flora de belleza única natural, conéctate con la historia de un pueblo aguerrido y sorpréndete con sus bellos paisajes."
            link="/nosotros"
            nameLink="Conoce más"
          />
        </div>
        <div class="text-center">
          <Card
            icon="../../public/contactanos.svg"
            icon_name="contactanos"
            title="Contactanos"
            text="La reserva se encuentra a 20 minutos de la ciudad de Ibagué, puedes visitarnos."
            link="/nosotros"
            nameLink="Conoce más"
          />
        </div>
      </div>
    </div>
    <div class="container m-auto">
      <h2 class="font-bold text-5xl leading-tight m-3">
        Nuestos <span class="text-lime-500">visitantes dicen...</span>
      </h2>
      <div>
        <CardOpinion
          nombreVisitante="Salvador Zinatelli"
          profesionVisitante="Consultor migratorio / Educativo – Yolochoice"
          opinion="Vivo en Vancouver Canadá fui a Colombia, conocí parte de sus territorios y fue muy agradable encontrar una reserva natural tan cerca de Ibagué y que realmente tiene una belleza única como son las ostras de agua dulce y un ecosistema privilegiado, Tuve la oportunidad de practicar de un pequeño retiro y clases de Yoga, un lugar excelente para descansar y renovarse. Recomiendo mucho la visita y estadía de La reserva natural Esmeralda."
          imagenVisitante="https://www.esmeraldareservanatural.com/images/salvador.png"
        />
        <CardOpinion
          nombreVisitante="Sybila Guerra"
          profesionVisitante="Psicologa / Emprendedora - Seryoga"
          opinion="Yo ya fui y viste la reserva es un lugar mágico, la experiencia fue maravillosa, lo que más me conecto son sus expírales llenos de energía renovadora, desde mi experiencia profesional también puedo opinar que el sitio es espectacular para la conexión interior, recomiendo mucho visitarlo."
          imagenVisitante="https://www.esmeraldareservanatural.com/images/Sybila.png"
        />
      </div>
    </div>
  </div>
</Layout>
