---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardOpinion from "../components/CardOpinion.astro";
import Title1 from "../components/Title1.astro";
import CardCentro from "../components/CardCentro.astro";
import Visitas from "../components/Visitas.astro";
import Title2Inicio from "../components/Title2Inicio.astro";
import CardContacto from "../components/CardContacto.astro";
---

<Layout title="La Esmeralda Reserva Natural">
  <div
    class="bg-[url('/fondos/fondo5-2.avif')] bg-cover bg-center bg-fixed pb-10 p-5"
  >
    <div class="container m-auto h-screen space-y-0 lg:space-y-6">
      <Title1 text1="Reserva Natural" text2="La Esmeralda" />
      <p
        class="text-lg md:text-2xl font-bold md:font-extrabold drop-shadow-xl shadow-black text-white"
      >
        HOGAR LEGENDARIO DE LAS OSTRAS DE AGUA DULCE.
      </p>
      <p
        class="text-lg md:text-2xl font-bold md:font-extrabold drop-shadow-xl shadow-black text-white"
      >
        Somos un oasis de naturaleza para la fauna🐍 y la flora🌺. Estamos en
        Doima, municipio de Piedras – Tolima, ubicados a la rivera del río Opia.
      </p>
      <div class="m-auto relative h-16 lg:h-32 w-64">
        <a
          href="#nosotros"
          class="w-full text-center absolute bottom-0 right-0 text-lg md:text-2xl px-5 py-1 rounded-2xl bg-lime-500 text-white transition-all ease-in- duration-75 hover:shadow-lg"
        >
          ¡únete a la reserva!
        </a>
      </div>
    </div>
    <div id="nosotros" class="container m-auto pb-28">
      <Title2Inicio text1="Nuestra" text2="Reserva" />
      <div class="space-y-10">
        <div class="text-center">
          <CardCentro
            icon="acount.svg"
            icon_name="nosotros"
            title="Nosotros"
            text="Hace algún tiempo, dos personas apasionadas por la naturaleza iniciamos el sueño de ser guardianes de una porción de terreno en Doima, Piedras en Tolima, que gradualmente convirtieron en un oasis para la fauna y la flora silvestre que transita por el corredor biológico del Río Opia."
            text2="Hoy, después de 7 años, somos la Reserva Natural de la Sociedad Civil (RNSC) 151-20 La Esmeralda, según la resolución No. 227 del 2 de diciembre de 2022, emitida por el Ministerio del Medio Ambiente a través de Parques Nacionales. Seguimos creyendo que todos podemos pasar de la intención a los hechos."
            link="https://www.esmeraldareservanatural.com/recorrido"
            nameLink="Conoce más"
          />
        </div>

        <div
          class="lg:mx-auto space-y-10 md:space-y-0 md:grid md:grid-cols-2 lg:grid-cols-2 lg:max-w-5xl md:gap-10"
        >
          <div class="text-center">
            <Card
              icon="hatExplorer.svg"
              icon_name="aliado"
              title="Vincúlate a la reserva"
              text="Únete a la misión de proteger la biodiversidad desde cualquier parte del mundo! Envía tu solicitud y forma parte de nuestra comunidad de personas comprometidas con la conservación. Estamos emocionados de contar contigo como un aliado valioso en esta importante causa."
              link="/contactanos"
              nameLink="Vincúlate !"
            />
          </div>
          <div class="text-center">
            <Card
              icon="ecosistema.svg"
              icon_name="ecosistema"
              title="Nuestros ecosistemas"
              text="Nuestra reserva cuenta con un ecosistema de bosque seco tropical, corredor biológico de la fauna por estar al margen del río Opia. Sabías que el bosque seco tropical es uno de los ecosistemas más amenazados  del mundo, en Colombia. Solo queda el 8 % de los 9 millones de hectáreas que originalmente cubría"
              link="/reserva"
              nameLink="Conoce más"
            />
          </div>
          <div class="text-center">
            <Card
              icon="volunteer.svg"
              icon_name="voluntariado"
              title="Apoyo a la reserva"
              text="Únete a la aventura de ser parte de la conservación de nuestro planeta y forma parte de la comunidad de voluntarios o padrinos en la reserva. Tu colaboración es fundamental para preservar la biodiversidad y garantizar un futuro sostenible para las próximas generaciones."
              link="/contactanos"
              nameLink="Hazte voluntario o padrino !"
            />
          </div>
          <div class="text-center">
            <Card
              icon="galeria.svg"
              icon_name="galeria"
              title="Galería de fotos"
              text="La reserva tiene una fauna y flora única y sorprendente. Conecta con la emocionante historia de un pueblo valiente y aguerrido y déjate maravillar por los impresionantes paisajes naturales llenos de sorpresas."
              link="/galeria"
              nameLink="Ver la galería !"
            />
          </div>
        </div>
        <div class="text-center">
          <CardContacto
            icon="contactanos.svg"
            icon_name="contactanos"
            title="Contáctanos"
            text="La reserva se encuentra a 20 minutos de la ciudad de Ibagué, en el departamento del Tolima, Colombia"
            url_maps="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.919315965023!2d-74.98013618552636!3d4.4261321452102464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38cdb01f199d5b%3A0x9a7b95a195fa8778!2sReserva%20Natural%20La%20Esmeralda%20Doima!5e0!3m2!1ses-419!2sco!4v1675908202324!5m2!1ses-419!2sco"
            link="/contactanos"
            nameLink="Comunicate con nosotros !"
          />
        </div>
      </div>
    </div>
    <div class="container m-auto pb-28">
      <Title2Inicio text1="Algunas" text2="experiencias compartídas" />
      <div>
        <div class="space-y-10">
          <CardOpinion
            nombreVisitante="Salvador Zinatelli"
            profesionVisitante="Consultor migratorio / Educativo – Yolochoice"
            opinion="Vivo en Vancouver Canadá fui a Colombia, conocí parte de sus territorios y fue muy agradable encontrar una reserva natural tan cerca de Ibagué y que realmente tiene una belleza única como son las ostras de agua dulce y un ecosistema privilegiado, Tuve la oportunidad de practicar de un pequeño retiro y clases de Yoga, un lugar excelente para descansar y renovarse. Recomiendo mucho la visita y estadía de La reserva natural Esmeralda."
            imagenVisitante="https://www.esmeraldareservanatural.com/images/salvador.png"
          />
          <CardOpinion
            nombreVisitante="Sybila Guerra"
            profesionVisitante="Psicologa / Emprendedora - Seryoga"
            opinion="Yo ya fui y viste la reserva es un lugar mágico, la experiencia fue maravillosa, lo que más me conecto son sus expírales llenos de energía renovadora, desde mi experiencia profesional también puedo opinar que el sitio es espectacular para la conexión interior, recomiendo mucho visitarlo."
            imagenVisitante="https://www.esmeraldareservanatural.com/images/Sybila.png"
          />
          <CardOpinion
            nombreVisitante="Cecilia Leal"
            profesionVisitante="Ing. Forestal / Fundacion Ambiental Oasis de Vida"
            opinion="Conocer y recorrer la Reserva Natural, es una gran experiencia, en la que se puede tener contacto directo con la naturaleza, esta a solo 40 minutos de Ibagué, por una vía pavimentada. Este pequeño paraíso enclavado en el bosque seco es orgullo para la región y para sus propietarios, que son ejemplo de compromiso en protección y conservación, de un importante, singular y frágil ecosistema, como lo es el ecosistema seco, prioridad de conservación a nivel mundial."
            imagenVisitante="https://www.esmeraldareservanatural.com/images/cecilia.png"
          />
          <CardOpinion
            nombreVisitante="Milton Artunduaga"
            profesionVisitante="Psicologa / Emprendedora - Seryoga"
            opinion="La tierra tiene música para que la escuchen, los arboles cantan con el viento mientras las aves bailan entre si, las flores sonríen al ser tocadas delicadamente, los caminos guardan las historias de los caminantes que los recorren, las quebradas entonan sus mejores melodías junto con las rocas que las protegen. En la Reserva Natural la Esmeralda puedes escuchar esta sinfonía una y otra vez, al cerrar los ojos o al mirar con detalle la mariposa que baila entre sus coloridos matices."
            imagenVisitante="https://www.esmeraldareservanatural.com/images/milton.png"
          />
        </div>
      </div>
    </div>
    <div class="container m-auto">
      <Title2Inicio text1="Algúnos de" text2="nuestros aliados" />

      <section>
        <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
          <h2
            class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-white"
          >
            Gracias por estar vinculados a esta aventura
          </h2>
          <div
            class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-6"
          >
            <a
              target="_blank"
              href="https://conservatoriodeltolima.edu.co/"
              class="flex justify-center items-center"
            >
              <img src="/logos/conservatorio.avif" alt="conservatorio" />
            </a>
            <a
              target="_blank"
              href="https://www.unibague.edu.co/"
              class="flex justify-center items-center"
            >
              <img src="/logos/unibague.avif" alt="unibague" />
            </a>
            <a
              target="_blank"
              href="https://www.facebook.com/Aprocade/"
              class="flex justify-center items-center"
            >
              <img src="/logos/aprocade.avif" alt="aprocade" />
            </a>
            <a
              target="_blank"
              href="https://doima.colegiosonline.com/"
              class="flex justify-center items-center"
            >
              <img src="/logos/iedudoima.avif" alt="iedudoima" />
            </a>
            <a
              target="_blank"
              href="https://www.parquesnacionales.gov.co/portal/es/"
              class="flex justify-center it ems-center"
            >
              <img
                src="/logos/parques-naturales.avif"
                alt="parques-naturales"
              />
            </a>
            <a
              target="_blank"
              href="https://www.cortolima.gov.co/"
              class="flex justify-center items-center"
            >
              <img src="/logos/cortolima.avif" alt="cortolima" />
            </a>
            <a
              target="_blank"
              href="https://www.facebook.com/people/Gesti%C3%B3n-ambiental-piedras/100080306673404/?paipv=0&eav=AfYbQ_BR6xarkFGISfr9i0BZROA9aKij866xz6nmNzdDgJzBSpAgnqQzwdZjtsE9nBc&_rdr"
              class="flex justify-center items-center"
            >
              <img src="/logos/gap.avif" alt="gap" />
            </a>
            <a target="_blank" href="https://www.policia.gov.co/">
              <img src="/logos/policia.avif" alt="policia" />
            </a>
            <a target="_blank" href="https://empresite.eleconomistaamerica.co/FUNDACION-AMBIENTAL-OASIS-VIDA-ONG.html">
              <img src="/logos/faov.avif" alt="policia" />
            </a>
            <a target="_blank" href="https://organizacionfemeninapopular.blogspot.com/p/inicio.html">
              <img src="/logos/ofp.avif" alt="policia" />
            </a>
            <a target="_blank" href="https://organizacionfemeninapopular.blogspot.com/p/inicio.html">
              <img src="/logos/comunera.avif" alt="policia" />
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="container m-auto pt-28">
      <Visitas client:load />
    </div>
  </div>
</Layout>
