---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardOpinion from "../components/CardOpinion.astro";
import Title1 from "../components/Title1.astro";
import CardCentro from "../components/CardCentro.astro";
import Visitas from "../components/Visitas.astro";
import Title2Inicio from "../components/Title2Inicio.astro";
---


<Layout title="La Esmeralda Reserva Natural">
  <div
    class="bg-[url('/fondos/fondo5.avif')] bg-cover bg-center bg-fixed pb-10 p-5"
  >
    <div class="container m-auto h-screen">
      <Title1 text1="Reserva Natural" text2="La Esmeralda" />
      <p class="text-2xl font-extrabold drop-shadow-xl shadow-black text-white">
        HOGAR LEGENDARIO DE LAS OSTRAS DE AGUA DULCE. Somos un oasis de
        naturaleza para la fauna🐍 y la flora🌺. Estamos en Doima, municipio de
        Piedras – Tolima, ubicados a la rivera del río Opia.

        <button
          class="px-5 py-1 rounded-2xl bg-lime-500 text-white transition-all ease-in- duration-75 hover:shadow-lg"
        >
          ¡ESTÁS INVITADO!
        </button>
      </p>
    </div>
    <div class="container m-auto pb-28">
      <Title2Inicio text1="Nuestra" text2="Reserva" />

      <div>
        <div class="text-center">
          <CardCentro
            icon="acount.svg"
            icon_name="nosotros"
            title="Nosotros"
            text="Hace algún tiempo, dos personas apasionadas por la naturaleza iniciaron su sueño de ser guardianes de una porción de terreno en Doima, Piedras en Tolima, que gradualmente convirtieron en un oasis para la fauna y la flora silvestre que transita por el corredor biológico del Río Opia."
            text2="Hoy, después de 7 años, somos la Reserva Natural de la Sociedad Civil (RNSC) 151-20 La Esmeralda, según la resolución No. 227 del 2 de diciembre de 2022, emitida por el Ministerio del Medio Ambiente a través de Parques Nacionales. Seguimos creyendo que todos podemos pasar de la intención a los hechos."
            link="/nosotros"
            nameLink="Conoce más"
          />
        </div>
      </div>

      <div
        class="m-3 lg:mx-auto space-y-16 sm:grid sm:grid-cols-2 sm:gap-16 sm:space-y-0 lg:grid-cols-3 lg:max-w-5xl"
      >
        <div class="text-center">
          <Card
            icon="calendar.svg"
            icon_name="calendar"
            title="Agenda tu visita"
            text="Puedes visitar y vincularte a la reserva, solo debes enviar tu solicitud diligenciando el formulario de contacto."
            link="/nosotros"
            nameLink="Conoce más"
          />
        </div>
        <div class="text-center">
          <Card
            icon="ecosistema.svg"
            icon_name="ecosistema"
            title="Nuestros ecosistemas"
            text="Nuestra reserva cuenta con un ecosistema de bosque seco tropical, corredor biológico de la fauna por estar al margen del ro Opia."
            link="/nosotros"
            nameLink="Conoce más"
          />
        </div>
        <div class="text-center">
          <Card
            icon="apoyanos.svg"
            icon_name="apoyanos"
            title="Apoyo a la reserva"
            text="Te invitamos a proteger, cuidar y preservar, está en nuestras manos continuar el legado del patrimonio natural. Únete a este propósito diligenciando el formulario de la pestaña."
            link="/nosotros"
            nameLink="Conoce más"
          />
        </div>
      </div>
      <div class="grid grid-cols-2 place-items-center">
        <div class="text-center h-full">
          <Card
            icon="galeria.svg"
            icon_name="galeria"
            title="Galería de fotos"
            text="Encontrarás fauna y flora de belleza única natural, conéctate con la historia de un pueblo aguerrido y sorpréndete con sus bellos paisajes."
            link="/nosotros"
            nameLink="Conoce más"
          />
        </div>
        <div class="text-center h-full">
          <Card
            icon="contactanos.svg"
            icon_name="contactanos"
            title="Contáctanos"
            text="La reserva se encuentra a 20 minutos de la ciudad de Ibagué, puedes visitarnos."
            link="/nosotros"
            nameLink="Conoce más"
          />
        </div>
      </div>
    </div>
    <div class="container m-auto pb-28">
      <Title2Inicio text1="Nuestros visitantes" text2="dicen..." />
      <div>
        <CardOpinion
          nombreVisitante="Salvador Zinatelli"
          profesionVisitante="Consultor migratorio / Educativo – Yolochoice"
          opinion="Vivo en Vancouver Canadá fui a Colombia, conocí parte de sus territorios y fue muy agradable encontrar una reserva natural tan cerca de Ibagué y que realmente tiene una belleza única como son las ostras de agua dulce y un ecosistema privilegiado, Tuve la oportunidad de practicar de un pequeño retiro y clases de Yoga, un lugar excelente para descansar y renovarse. Recomiendo mucho la visita y estadía de La reserva natural Esmeralda."
          imagenVisitante="https://www.esmeraldareservanatural.com/images/salvador.png"
        />
        <CardOpinion
          nombreVisitante="Sybila Guerra"
          profesionVisitante="Psicologa / Emprendedora - Seryoga"
          opinion="Yo ya fui y viste la reserva es un lugar mágico, la experiencia fue maravillosa, lo que más me conecto son sus expírales llenos de energía renovadora, desde mi experiencia profesional también puedo opinar que el sitio es espectacular para la conexión interior, recomiendo mucho visitarlo."
          imagenVisitante="https://www.esmeraldareservanatural.com/images/Sybila.png"
        />
        <CardOpinion
          nombreVisitante="Cecilia Leal"
          profesionVisitante="Ing. Forestal / Fundacion Ambiental Oasis de Vida"
          opinion="Conocer y recorrer la Reserva Natural, es una gran experiencia, en la que se puede tener contacto directo con la naturaleza, esta a solo 40 minutos de Ibagué, por una vía pavimentada. Este pequeño paraíso enclavado en el bosque seco es orgullo para la región y para sus propietarios, que son ejemplo de compromiso en protección y conservación, de un importante, singular y frágil ecosistema, como lo es el ecosistema seco, prioridad de conservación a nivel mundial."
          imagenVisitante="https://www.esmeraldareservanatural.com/images/cecilia.png"
        />
        <CardOpinion
          nombreVisitante="Milton Artunduaga"
          profesionVisitante="Psicologa / Emprendedora - Seryoga"
          opinion="La tierra tiene música para que la escuchen, los arboles cantan con el viento mientras las aves bailan entre si, las flores sonríen al ser tocadas delicadamente, los caminos guardan las historias de los caminantes que los recorren, las quebradas entonan sus mejores melodías junto con las rocas que las protegen. En la Reserva Natural la Esmeralda puedes escuchar esta sinfonía una y otra vez, al cerrar los ojos o al mirar con detalle la mariposa que baila entre sus coloridos matices."
          imagenVisitante="https://www.esmeraldareservanatural.com/images/milton.png"
        />
      </div>
    </div>
    <div class="container m-auto">
      <Visitas />
      
    </div>
  </div>
</Layout>
