---
import Layout from "../layouts/Layout.astro";
import CardMision from "../components/CardMision.astro";
---

<Layout title="La Esmeralda Reserva Natural">
  <div
    class="bg-[url('public/imgs/reserva.avif')] bg-cover bg-center bg-no-repeat"
  >
    <div class="container m-auto">
      <h1
        class="font-bold text-4xl md:text-6xl leading-tight mb-3 pt-10 text-white"
      >
        Nuestra Reserva<br />
        <span class="text-lime-500 text-5xl md:text-9xl">La Esmeralda</span>
      </h1>
    </div>
  </div>
  <div class="container m-auto">
    <div
      class="space pb-20 lg:mx-auto space-y-16 sm:grid sm:grid-cols-2 sm:gap-5 sm:space-y-0 lg:grid-cols-3 lg:max-w-5xl"
    >
      <div class="text-center">
        <CardMision
          title="Objetivo"
          text="Nuestro objetivo es conservar la diversidad biológica además de permitir y fomentar la utilización sostenible de los recursos silvestres. La Reserva alberga diversos recursos naturales que son una importante fuente de alimento para la fauna silvestre, Asimismo, es una fuente permanente de agua, lo cual permite que las especies no realicen grandes recorridos y se vean expuestas a la caza."
          icon="public/reserva/target.svg"
        />
      </div>
      <div></div>
      <div></div>

      <CardMision
        title="Misión"
        text="Ser instrumento de carácter privado que contribuya con las estrategias propias a la protección, conservación y gestión eficiente e integral de los recursos naturales y la biodiversidad de la región, con el propósito de conservar una muestra de un ecosistema natural guiado por los principios de protección, restauración, producción sostenible, y educación ambiental. Buscamos ser inspiración para la conservación a escala local, regional, nacional e internacional, generando acciones de sostenibilidad de los ecosistemas, como protección del agua, suelos, alimentos, regulación del clima y captura de carbono en un esfuerzo particular de contribuir a la construcción de tejido social en torno a la conservación y producción sostenible para mejorar la calidad de vida de toda la comunidad."
        icon="public/reserva/mision.svg"
      />

      <CardMision
        title="Misión"
        text="Convertirse en la alternativa líder ambiental de la región de carácter privado, que interactúa con comunidades locales para que los individuos puedan conectar con procesos de conservación, protección, preservación y uso sostenible de la diversidad biológica, producción sostenible y otros bienes y servicios de carácter ambientales."
        icon="public/reserva/vision.svg"
      />
    </div>
  </div>
</Layout>
