---
import Layout from "../layouts/Layout.astro";
import CardMision from "../components/CardMision.astro";
import Title2 from "../components/Title2.astro";
import CardTeam from "../components/CardTeam.astro";
import Title11 from "../components/Title11.astro";
import Testimonial from "../components/Testimonial.astro";
---

<Layout title="La Esmeralda Reserva Natural | Reserva">
  <div
    class="mb-7 bg-[url('/imgs/reserva.avif')] bg-cover bg-center bg-no-repeat"
  >
    <div class="container m-auto">
      <Title11 text1="Nuestra reserva" text2="La Esmeralda" />
    </div>
  </div>
  <div class="container m-auto">
    <div
      class="pb-20 lg:mx-auto space-y-16 sm:grid sm:grid-cols-2 sm:gap-5 sm:space-y-0 lg:grid-cols-3 lg:max-w-5xl"
    >
      <CardMision
        title="Objetivo"
        text="Nuestro objetivo es conservar la diversidad biológica además de permitir y fomentar la utilización sostenible de los recursos silvestres. La Reserva alberga diversos recursos naturales que son una importante fuente de alimento para la fauna silvestre, así mismo, es una fuente permanente de agua, lo cual permite que las especies no realicen grandes recorridos y se vean expuestas a la caza."
        icon="/reserva/target.svg"
      />

      <CardMision
        title="Misión"
        text="Ser un instrumento privado que contribuya con estrategias propias a proteger y gestionar de manera eficiente e integral los recursos naturales y la biodiversidad de la región. Con el propósito de conservar un ecosistema natural guiado por los principios de protección, producción sostenible y educación ambiental. Buscamos inspirar la protección del agua, suelos, alimentos y captura de carbono y contribuir a la conservación y producción sostenible del medio ambiente, mejorando la calidad de vida de la comunidad."
        icon="/reserva/mision.svg"
      />

      <CardMision
        title="Visión"
        text="Convertirse en la alternativa líder ambiental de la región de carácter privado, que interactúa con comunidades locales para que los individuos puedan conectar con procesos de conservación, protección, preservación y uso sostenible de la diversidad biológica, producción sostenible y otros bienes y servicios de carácter ambientales."
        icon="/reserva/vision.svg"
      />
    </div>

    <div>
      <Title2 text1="Nuestro" text2="equipo" />
      <div>
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
          <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
            <CardTeam
              src="/reserva/rafael.jpg"
              name="Rafael Mauricio Bahamon"
              rol="Nuestro propietario"
              descripcion="Respeto y amor por la naturaleza"
            />
            <CardTeam
              src="/reserva/Esmeralda.jpg"
              name="Esmeralda Becerra Vega"
              rol="Gerente de la Reserva"
              descripcion="Dejar una huella verde en cada corazón que nos visita"
            />
            <CardTeam
              src="/reserva/Natalia.jpg"
              name="Natalia Bahamon Becerra"
              rol="La fuente de inspiración de la Reserva"
              descripcion="Espíritu libre por el mundo"
            />
            <CardTeam
              src="/reserva/Luis.jpg"
              name="Luis Tafur"
              rol="Colaborador de la Reserva"
              descripcion="La experiencia y sabiduría al servicio de la madre tierra"
            />
            <CardTeam
              src="/reserva/Monica.jpg"
              name="Veronica Forero"
              rol="Coordinadora de Mantenimiento"
              descripcion="¡Querer es poder!"
            />
            <CardTeam
              src="/reserva/alejandro.jpg"
              name="Alejandro Perez"
              rol="Nuestro Jardinero"
              descripcion="¡Juventud que cree en el campo!"
            />
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <Title2 text1="Colaboradores" />
        <div class="md:flex">
          <Testimonial
            frase="!Tenemos estanque!"
            foto="https://www.esmeraldareservanatural.com/images/Alfredo.jpg"
            nombre="Alfredo Várgas"
            agradecimiento="Gracias ingeniero por su valioso aporte, con su ayuda hoy tenemos un estanque bionatural."
          />
          <Testimonial
            frase="Mula parada no gana flete"
            foto="https://www.esmeraldareservanatural.com/images/Mauricio.jpg"
            nombre="Mauricio Oviedo"
            agradecimiento="Gracias por su aporte para embellecer la reserva."
          />
        </div>
        <div class="md:flex">
          <Testimonial
            frase="¡Vamos a pintar!"
            foto="https://www.esmeraldareservanatural.com/images/Sandra.jpg"
            nombre="Sandra Avendaño"
            agradecimiento="Toda una artista, gracias a su aporte e inspiración hizo realidad el camino de las mariposas."
          />
          <Testimonial
            frase="¡Lo hacemos hoy mismo!"
            foto="https://www.esmeraldareservanatural.com/images/Edwin.jpg"
            nombre="Mauricio Oviedo"
            agradecimiento="Gracias por su aporte para embellecer la reserva."
          />
        </div>
      </div>
    </div>
    <div class="mb-16">
      <Title2 text1="Reglamento" text2="interno" />
      <div>
        <ul role="list" class="pl-5 space-y-3 text-gray-500">
          <li>
            1. No llevar mascotas, radiograbadoras o equipos de sonido, drones,
            envases de vidrio, plástico, armas, cuchillos, navajas,
            encendedores, fósforos, cigarrillos y bebidas alcohólicas.
          </li>

          <li>
            2. Todos los visitantes de la reserva deben prometer comportamientos
            de cuidado, preservación, protección y no contaminación del medio
            ambiente sin excepción alguna.
          </li>

          <li>
            3. No marque, no escriba o cause daño a las cortezas de los árboles.
          </li>

          <li>4. No bote basura.</li>

          <li>5. No fume dentro de la reserva.</li>

          <li>6. Manténgase siempre dentro de los senderos demarcados.</li>

          <li>7. No arranque las plantas.</li>

          <li>
            8. No grite, no haga ruidos fuertes mientras este en la zona
            corredor biológico.
          </li>

          <li>
            9. No Sustraer muestras biológicas de una reserva natural, puede
            ocasionar daños a ellas.
          </li>

          <li>10. No alimentar a los animales.</li>

          <p>
            Nota: Incumplir este reglamento da como consecuencia la expulsión
            inmediata del visitante y en algunos casos le puede ocasionar
            sanciones legales. Ayúdanos a cuidar la naturaleza. “No te lleves
            nada, no dejes nada”
          </p>
        </ul>
      </div>
    </div>
    <div class="container m-auto">
      <Title2 text1="Marco" text2="jurídico" />
      <div class="px-4">
        <p class="mt-3 mb-4 font-light text-gray-500">
          Convenio de Diversidad Biológica: Es un acuerdo internacional al cual Colombia forma parte. Los países miembros se comprometen a conservar la diversidad biológica a través de áreas protegidas y apoyan iniciativas que contribuyan a estos objetivos. Se busca formas de hacer más efectiva la conservación ecológica y social, coordinando un sistema de áreas protegidas. En Colombia, este convenio fue aprobado por la Ley 165 de 1994.<br>
          La Constitución Política de 1991 tiene un conjunto de deberes ambientales para el Estado, destacando el artículo 79, que establece la obligación de proteger la diversidad y integridad del ambiente y conservar áreas de importancia ecológica. También se establecen deberes compartidos entre el Estado y los particulares, como la protección de riquezas culturales y naturales.<br>
          La Ley 99 de 1993, conocida como la ley ambiental, define una Reserva Natural de la Sociedad Civil y designa un registro ante el Ministerio de Ambiente. El Decreto 1996 de 1999 regula las RNSC, definiendo sus usos, actividades, zonificación y registro ante la Unidad Administrativa de Parques Nacionales Naturales.<br>
          La Ley 216 de 2003 delega el registro de las RNSC a la Unidad de Parques Nacionales dentro del Ministerio de Ambiente, Vivienda y Desarrollo Territorial. La Resolución 0207 de 2007 crea un registro de organizaciones que trabajan en las Reservas Naturales de la Sociedad Civil. El Decreto 2372 de 2010 reglamenta el Sistema Nacional de Áreas Protegidas y incluye a las RNSC.<br>
          Nuestra Reserva “La Esmeralda” fue identificada como RNSC 150-20 en diciembre de 2020 y se encuentra en trámite de registro.
        </p>
        <a href="/docs/resolucion.pdf" target="_blank" class="py-1 px-3 rounded-2xl inline-flex items-center text-white bg-lime-500 shadow-md ">
          Ver la resolución
          <svg
            class="w-5 h-5 ml-2"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"
            ></path><path
              d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"
            ></path></svg
          >
        </a>
      </div>
    </div>
  </div>
</Layout>
