<div class="mb-20" id="accordion-collapse" data-accordion="collapse">
  <h2 id="accordion-collapse-heading-2">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium text-left text-[#2c8936] border border-b-0 rounded-t-xl border-[#2c8936] focus:ring-4 focus:ring-gray-200 hover:bg-[#2c8936] hover:text-white"
      data-accordion-target="#accordion-collapse-body-2"
      aria-expanded="true"
      aria-controls="accordion-collapse-body-2"
    >
      <span>쮺칩mo podemos formar parte de la reserva La Esmeralda?</span>
      <svg
        data-accordion-icon
        class="w-6 h-6 shrink-0"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"></path></svg
      >
    </button>
  </h2>
  <div
    id="accordion-collapse-body-2"
    class="hidden"
    aria-labelledby="accordion-collapse-heading-2"
  >
    <div class="p-5 font-light border border-b-0 border-[#2c8936]">
      <p class="mb-2 text-gray-500">
        La Reserva dispone de medios tecnol칩gicos llamado recorrido virtual y
        dos programas espec칤ficos para vincularse, estos son:<br />
        游녤 <a
          href="#"
          class="font-medium underline text-sky-500 hover:no-underline"
          target="_blank"
          rel="noreferrer">Ir a voluntariado</a
        >
        <br />
        游녤 <a
          href="#"
          class="font-medium underline text-sky-500 hover:no-underline"
          target="_blank"
          rel="noreferrer">Ir a recorrido virtual</a
        >
      </p>
    </div>
  </div>

  <h2 id="accordion-collapse-heading-1">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium text-left text-[#2c8936] border border-b-0 border-[#2c8936]  hover:bg-[#2c8936] hover:text-white"
      data-accordion-target="#accordion-collapse-body-1"
      aria-expanded="false"
      aria-controls="accordion-collapse-body-1"
    >
      <span>쯈u칠 es una reserva natural de la sociedad civil? (RNSC)?</span>
      <svg
        data-accordion-icon
        class="w-6 h-6 rotate-180 shrink-0"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"></path></svg
      >
    </button>
  </h2>
  <div
    id="accordion-collapse-body-1"
    class="hidden"
    aria-labelledby="accordion-collapse-heading-1"
  >
    <div class="p-5 font-light border border-b-0 border-[#2c8936]">
      <p class="mb-2 text-gray-500">
        son 치reas de terreno protegidas, que se establecieron a voluntad de los
        propietarios de predios privados, se dedican a la conservaci칩n y
        preservaci칩n de muestras de ecosistemas naturales, permiti칠ndose tambi칠n
        tener sistemas de producci칩n sostenibles, pero ambientalmente
        responsables.
      </p>
    </div>
  </div>

  <h2 id="accordion-collapse-heading-3">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium text-left text-[#2c8936] border border-b-0 border-[#2c8936] focus:ring-4 focus:ring-gray-200 hover:bg-[#2c8936] hover:text-white"
      data-accordion-target="#accordion-collapse-body-3"
      aria-expanded="false"
      aria-controls="accordion-collapse-body-3"
    >
      <span>쮺u치l es el costo de ingreso a la Reserva?</span>
      <svg
        data-accordion-icon
        class="w-6 h-6 shrink-0"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"></path></svg
      >
    </button>
  </h2>
  <div
    id="accordion-collapse-body-3"
    class="hidden"
    aria-labelledby="accordion-collapse-heading-3"
  >
    <div class="p-5 font-light border border-t-0 border-[#2c8936]">
      <p class="mb-2 text-gray-500">
        El ingreso a la reserva no tiene costo, lo que debes hacer es acceder a
        alguno de los programas para vincularte: <br />
        游녤 <a
          href="#"
          class="font-medium underline text-sky-500 hover:no-underline"
          target="_blank"
          rel="noreferrer">Ir a voluntariado</a
        >
        <br />
        游녤 <a
          href="#"
          class="font-medium underline text-sky-500 hover:no-underline"
          target="_blank"
          rel="noreferrer">Ir a recorrido virtual</a
        >
      </p>
    </div>
  </div>

  <h2 id="accordion-collapse-heading-4">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium text-left text-[#2c8936] border border-b-0 border-[#2c8936] focus:ring-4 focus:ring-gray-200 hover:bg-[#2c8936] hover:text-white"
      data-accordion-target="#accordion-collapse-body-4"
      aria-expanded="false"
      aria-controls="accordion-collapse-body-4"
    >
      <span>쯈u칠 es un 치rea protegida?</span>
      <svg
        data-accordion-icon
        class="w-6 h-6 shrink-0"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"></path></svg
      >
    </button>
  </h2>
  <div
    id="accordion-collapse-body-4"
    class="hidden"
    aria-labelledby="accordion-collapse-heading-4"
  >
    <div class="p-5 font-light border border-t-0 border-[#2c8936]">
      <p class="mb-2 text-gray-500">
        Es un territorio con fines de conservaci칩n ambiental, en aspectos
        formales y espec칤ficos engloba todas las categor칤as de protecci칩n
        definidas en el decreto 2372 de 2010, las cuales a su vez conforman el
        Sistema Nacional de 츼reas Protegidas(SINAP). Adicionalmente, las 치reas
        protegidas se clasifican en dos subtipos principales, las p칰blicas y las
        privadas. <br />
        Fuente de informaci칩n: <a
          href="https://www.metropol.gov.co/planeacion/areas-protegidas/Paginas/contexto/las-areas-protegidas.aspx#:~:text=Las%20%C3%81reas%20Protegidas%20son%20%C3%A1reas,alcanzar%20objetivos%20espec%C3%ADficos%20de%20conservaci%C3%B3n."
          class="font-medium underline text-primary-600 hover:no-underline"
          target="_blank"
          rel="noreferrer">Las 츼reas Protegidas (metropol.gov.co)</a
        >
      </p>
    </div>
  </div>

  <h2 id="accordion-collapse-heading-5">
    <button
      type="button"
      class="flex items-center justify-between w-full p-5 font-medium text-left text-[#2c8936] border border-[#2c8936] rounded-b-xl focus:ring-4 focus:ring-gray-200 hover:bg-[#2c8936] hover:text-white"
      data-accordion-target="#accordion-collapse-body-5"
      aria-expanded="false"
      aria-controls="accordion-collapse-body-5"
    >
      <span>쮺칩mo se beneficia la poblaci칩n de la existencia de reservas?</span>
      <svg
        data-accordion-icon
        class="w-6 h-6 shrink-0"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd"></path></svg
      >
    </button>
  </h2>
  <div
    id="accordion-collapse-body-5"
    class="hidden"
    aria-labelledby="accordion-collapse-heading-5"
  >
    <div class="p-5 font-light border border-t-0 border-[#2c8936]">
      <p class="mb-2 text-gray-500">
        A medida que se preserven y protejan m치s ecosistemas, en cantidad y
        calidad habr치 mayor beneficio para las personas, en disfrute de recursos
        naturales, las reservas brindan aportes h칤dricos a las cuencas, el agua
        es menos contaminada por actividad humana, captura de carbono, emisi칩n
        de ox칤geno, microclimas, recuperaci칩n de la diversidad de fauna y flora
        promoviendo equilibrio en el entorno natural.
      </p>
    </div>
  </div>
</div>
