<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-[#2c8936]">
      Preguntas frecuentes
    </h2>
    <div
      class="grid pt-8 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
    >
      <div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900">
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            쯈u칠 es una reserva natural de la sociedad civil? (RNSC)?
          </h3>
          <p class="text-gray-500">
            son 치reas de terreno protegidas, que se establecieron a voluntad de
            los propietarios de predios privados, se dedican a la conservaci칩n y
            preservaci칩n de muestras de ecosistemas naturales, permiti칠ndose
            tambi칠n tener sistemas de producci칩n sostenibles, pero
            ambientalmente responsables.
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900">
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            쮺칩mo podemos acceder a la reserva La Esmeralda?
          </h3>
          <p class="text-gray-500">
            La Reserva dispone de medios tecnol칩gicos llamado recorrido virtual
            y dos programas espec칤ficos para vincularse, estos son:<br />
            1. programa de padrinos y madrinas<br />
            2. voluntariado experiencia inmersiva
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900">
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            쮺u치l es el costo de ingreso a la Reserva?
          </h3>
          <p class="text-gray-500">
            El ingreso a la reserva no tiene costo, lo que debes hacer es
            acceder a alguno de los programas para vincularte: <br />
            游녤<a
              href="#"
              class="font-medium underline text-sky-500 hover:no-underline"
              target="_blank"
              rel="noreferrer">Ir a voluntariado</a
            >
            <br />
            游녤<a
              href="#"
              class="font-medium underline text-sky-500 hover:no-underline"
              target="_blank"
              rel="noreferrer">Ir a recorrido virtual</a
            >
          </p>
        </div>
      </div>
      <div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900">
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            쯈u칠 es un 치rea protegida?
          </h3>
          <p class="text-gray-500">
            Es un territorio con fines de conservaci칩n ambiental, en aspectos
            formales y espec칤ficos engloba todas las categor칤as de protecci칩n
            definidas en el decreto 2372 de 2010, las cuales a su vez conforman
            el Sistema Nacional de 츼reas Protegidas(SINAP). Adicionalmente, las
            치reas protegidas se clasifican en dos subtipos principales, las
            p칰blicas y las privadas. <br />
            Fuente de informaci칩n: <a
              href="https://www.metropol.gov.co/planeacion/areas-protegidas/Paginas/contexto/las-areas-protegidas.aspx#:~:text=Las%20%C3%81reas%20Protegidas%20son%20%C3%A1reas,alcanzar%20objetivos%20espec%C3%ADficos%20de%20conservaci%C3%B3n."
              class="font-medium underline text-primary-600 hover:no-underline"
              target="_blank"
              rel="noreferrer">Las 츼reas Protegidas (metropol.gov.co)</a
            >
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900">
            <svg
              class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            쮺칩mo se beneficia la poblaci칩n de la existencia de reservas?
          </h3>
          <p class="text-gray-500">
            A medida que se preserven y protejan m치s ecosistemas, en cantidad y
            calidad habr치 mayor beneficio para las personas, en disfrute de
            recursos naturales, las reservas brindan aportes h칤dricos a las
            cuencas, el agua es menos contaminada por actividad humana, captura
            de carbono, emisi칩n de ox칤geno, microclimas, recuperaci칩n de la
            diversidad de fauna y flora promoviendo equilibrio en el entorno
            natural.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
