---


const {name, link} = Astro.props
---
<a href={link}>
  <button
    class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-full group bg-gradient-to-br from-white to-lime-300 group-hover:from-slate-50 group-hover:to-lime-300  dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800"
  >
    <span
      class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white text-gray-900 rounded-full group-hover:bg-opacity-0"
    >
      {name}
    </span>
  </button>
</a>
