<div>
  <footer class="p-4">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a
          href="https://www.facebook.com/ReservalaesmeraldaenDoima"
          class="flex items-center"
        >
          <img
            class="w-auto h-10 lg:w-auto lg:h-20 xl:h-24 2xl:h-28"
            src="Logo_reserva_natural_svg.svg"
          />
        </a>
      </div>
      <div class="mb-6 md:mb-0 md:text-center">
        <p class="text-lime-500 text-sm font-bold">UNA JOYA VERDE</p>
        <p class="font-light text-sm text-gray-500">
          CORREGIMIENTO DE DOIMA - PIEDRAS TOLIMA - COLOMBIA
        </p>
        <p class="font-light text-sm text-gray-500">
          info@esmeraldareservanatural.com | (+57) 320 809 6472
        </p>
      </div>
      <div class="flex gap-2 items-center">
        <a href="https://www.facebook.com/ReservalaesmeraldaenDoima">
          <img
            class="w-7 lg:w-10 hover:opacity-50"
            src="/social_icons/facebook.svg"
            alt="facebook"
          />
          <span class="sr-only">Facebook page</span>
        </a>
        <a href="https://www.instagram.com/laesmeraldareservanatural/">
          <img
            class="w-7 lg:w-10 hover:opacity-50"
            src="/social_icons/instagram.svg"
            alt="instagram"
          />
          <span class="sr-only">Instagram page</span>
        </a>
        <!-- <a href="#">
          <img
            class="w-7 lg:w-10 hover:opacity-50"
            src="..//social_icons/twitter.svg"
            alt="twtter"
          />
          <span class="sr-only">Twitter page</span>
        </a> -->
        <a href="https://www.youtube.com/watch?v=tFlwLgyEN9M">
          <img
            class="w-7 lg:w-10 hover:opacity-50"
            src="/social_icons/youtube.svg"
            alt="Youtube"
          />
          <span class="sr-only">Youtube</span>
        </a>
      </div>
    </div>
  </footer>
</div>
