<div class="space-y-3">
    <div class="flex h-52 gap-3">
      <div
        class="w-2/4 rounded-lg bg-[url('https://images.pexels.com/photos/1619317/pexels-photo-1619317.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')]"
      >
      </div>
      <div
        class="w-1/4 rounded-lg bg-[url('https://images.pexels.com/photos/1619317/pexels-photo-1619317.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')]"
      >
      </div>
      <div
        class="w-1/4 rounded-lg bg-[url('https://images.pexels.com/photos/1619317/pexels-photo-1619317.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')]"
      >
      </div>
    </div>
    <div class="flex h-52 gap-3">
      <div
        class="w-1/4 rounded-lg bg-[url('https://images.pexels.com/photos/1619317/pexels-photo-1619317.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')]"
      >
      </div>
      <div
        class="w-2/4 rounded-lg bg-[url('https://images.pexels.com/photos/1619317/pexels-photo-1619317.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')]"
      >
      </div>
      <div
        class="w-1/4 rounded-lg bg-[url('https://images.pexels.com/photos/1619317/pexels-photo-1619317.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')]"
      >
      </div>
    </div>
    <div class="flex h-52 gap-3">
      <div
        class="w-1/4 rounded-lg bg-[url('https://images.pexels.com/photos/1619317/pexels-photo-1619317.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')]"
      >
      </div>
      <div
        class="w-1/4 rounded-lg bg-[url('https://images.pexels.com/photos/1619317/pexels-photo-1619317.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')]"
      >
      </div>
      <div
        class="w-2/4 rounded-lg bg-[url('https://images.pexels.com/photos/1619317/pexels-photo-1619317.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')]"
      >
      </div>
    </div>
  </div>
  