---
const { text1, text2 } = Astro.props;
---

<div>
  <h1>
    <span
      class="font-bold text-4xl md:text-5xl lg:text-7xl mb-3 pt-3 drop-shadow-lg shadow-black text-white"
      >{text1}</span
    >
    <br  />
    <span class="font-bold text-lime-500 text-5xl md:text-6xl lg:text-8xl">{text2}</span>
  </h1>
</div>
