---
const { text1, text2 } = Astro.props;
---

<h1 class="px-4 font-bold text-4xl md:text-6xl leading-tight mb-3 pt-10 text-white drop-shadow-xl shadow-black ">
  {text1}<br />
  <span class="text-lime-500 text-5xl md:text-9xl">{text2}</span>
</h1>
