---
const { text1, text2 } = Astro.props;
---

<h2 style="color: #2c8936;" class="font-bold text-4xl md:text-5xl leading-tight m-3 drop-shadow-xl shadow-black">
  {text1}
  <span class="text-lime-500">{text2}</span>
</h2>
